@page
@model ListView2Model
@{
    var employeeschema = new Razor.Training.Models.Employee();
    var employees = Model.Employees;
}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <td class="align-middle"><label asp-for="@employeeschema.Empno"></label></td>
                <td class="align-middle"><label asp-for="@employeeschema.Name"></label></td>
                <td class="align-middle"><label asp-for="@employeeschema.Sex"></label></td>
                <td class="align-middle"><label asp-for="@employeeschema.EnterDate"></label></td>
                <td class="align-middle"><label asp-for="@employeeschema.Email"></label></td>
                <td class="align-middle"><label>操作</label></td>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < employees.Count; i++)
            {
            <tr>
                <td class="align-middle">@employees[i].Empno</td>
                <td class="align-middle">@employees[i].Name</td>
                <td class="align-middle">@employees[i].Sex</td>
                <td class="align-middle">@employees[i].EnterDate.ToShortDateString()</td>
                <td class="align-middle">@employees[i].Email</td>
                <td class="align-middle">
                    <form method="post">
                        <input type="hidden" name="Id" asp-for="@employees[i].Id" />
                        <a class="btn btn-danger" asp-page="/MasterForm" asp-route-eid="@employees[i].Id">編輯</a>
                        <button class="btn btn-primary" asp-page-handler="AddEmpno">AddEmpno</button>
                    </form>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
