@page
@model ListViewModel
@{
    //var employeeschema = (Razor.Training.Models.Employee)Activator.CreateInstance((Model.Employees.GetType().GetGenericArguments().Single()));
    var employeeschema = new Razor.Training.Models.Employee();
    var employees = Model.Employees;
    var positions = Model.Positions;

    var datalist = (from emp in employees
                    join pos in positions on emp.PositionId equals pos.Id into a
                    from b in a.DefaultIfEmpty(new Position())
                    select new { Id = emp.Id, Empno = emp.Empno, Name = emp.Name, Sex = emp.Sex, EnterDate = emp.EnterDate, Email = emp.Email, Position = b.Name, PositionId = emp.PositionId }).ToList();
}
<span class="glyphicon glyphicon-cloud"></span>
<form method="post" style="margin:1rem 0;">
    <div class="row">
        <div class="col-4">
            <div class="row">
                <div class="col">
                    <label asp-for="Search"></label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input class="form-control" asp-for="Search" />
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="row align-items-end" style="height: 100%;">
                <div class="col" style="padding:0;">
                    <button class="btn btn-primary parform-controlform-control" asp-page-handler="Query">Query</button>
                    <a asp-page="/form" asp-route-keyword="Johnny" class="btn btn-info">導頁</a>
                </div>
            </div>
        </div>
    </div>
</form>

<p>◎Table排版</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <td class="align-middle"><label asp-for="@employeeschema.Empno"></label></td>
                <td class="align-middle"><label asp-for="@employeeschema.Name"></label></td>
                <td class="align-middle"><label asp-for="@employeeschema.Sex"></label></td>
                <td class="align-middle"><label asp-for="@employeeschema.EnterDate"></label></td>
                <td class="align-middle"><label asp-for="@employeeschema.Email"></label></td>
                <td class="align-middle"><label asp-for="@employeeschema.PositionId"></label></td>
                <td class="align-middle"><label>操作</label></td>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < datalist.Count; i++)
            {
                var data = datalist[i];

                <tr>
                    <td class="align-middle">@data.Empno</td>
                    <td class="align-middle">@data.Name</td>
                    <td class="align-middle">@data.Sex</td>
                    <td class="align-middle">@data.EnterDate.ToShortDateString()</td>
                    <td class="align-middle">@data.Email</td>
                    <td class="align-middle">@data.Position</td>
                    <td class="align-middle">
                        <form method="post">
                            <button class="btn btn-danger" asp-page-handler="UpdateForTable" asp-route-eid="@data.Id" asp-route-name="@String.Format("{0}{1}", @data.Name, "(更新)")">Update</button>
                            <button class="btn btn-danger" onclick="popupwindow('/EditForm?eid=@data.Id', '編輯 @data.Name 的個人資料', 800, 600);return false;">編輯</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<p>◎Div排版</p>
<div style="display:table;width:100%;">
    <div style="display:table-header-group;">
        <div style="display:table-row;">
            <div class="p-3 border-top" style="display:table-cell;">
                <label asp-for="@employeeschema.Empno"></label>
            </div>
            <div class="p-3 border-top" style="display:table-cell;">
                <label asp-for="@employeeschema.Name"></label>
            </div>
            <div class="p-3 border-top" style="display:table-cell;">
                <label asp-for="@employeeschema.Sex"></label>
            </div>
            <div class="p-3 border-top" style="display:table-cell;">
                <label asp-for="@employeeschema.EnterDate"></label>
            </div>
            <div class="p-3 border-top" style="display:table-cell;">
                <label asp-for="@employeeschema.Email"></label>
            </div>
            <div class="p-3 border-top" style="display:table-cell;">
                <label asp-for="@employeeschema.PositionId"></label>
            </div>
            <div class="p-3 border-top" style="display:table-cell;">
                <label>操作</label>
            </div>
        </div>
    </div>
    <div style="display:table-row-group;">
        @for (int i = 0; i < datalist.Count; i++)
        {
            var data = datalist[i];

            <form method="post" style="display:table-row;">
                <input asp-for="@data.Id" type="hidden" />
                <div class="p-3 border-top" style="display:table-cell;">
                    @data.Empno
                    <input asp-for="@data.Empno" type="hidden" />
                </div>
                <div class="p-3 border-top" style="display:table-cell;">
                    <input asp-for="@data.Name" class="form-control" />
                </div>
                <div class="p-3 border-top" style="display:table-cell;">
                    <select asp-for="@data.Sex" class="form-control" asp-items="@Html.GetEnumSelectList(typeof(Razor.Training.Models.Sex))"></select>
                </div>
                <div class="p-3 border-top" style="display:table-cell;">
                    @data.EnterDate.ToString("yyyy/MM/dd")
                    <input asp-for="@data.EnterDate" type="hidden" />
                </div>
                <div class="p-3 border-top" style="display:table-cell;">
                    @data.Email
                    <input asp-for="@data.Email" type="hidden" />
                </div>
                <div class="p-3 border-top" style="display:table-cell;">
                    @data.Position
                    <input asp-for="@data.PositionId" type="hidden" />
                </div>
                <div class="p-3 border-top" style="display:table-cell;">
                    <button class="btn btn-danger form-control" asp-page-handler="Update">Update</button>
                </div>
            </form>
        }
    </div>
</div>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        function popupwindow(url, title, w, h) {
            var left = (screen.width / 2) - (w / 2);
            var top = (screen.height / 2) - (h / 2);
            return window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
        }
    </script>
}
